<li [ngClass]=" { 'list-group-item': true,
'list-group-item-info': filmOnAir == true,
'list-group-item-warning': filmOnAir == false }">
    <div class="row">
        <div class="col-2">
            <img class="affiche" [src]="filmAffiche">
        </div>
        <div class="col-8">
            <div class="onAir" *ngIf="filmOnAir == false">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Blu-ray_Disc.svg/1200px-Blu-ray_Disc.svg.png">
            </div>
            <div class="onAir" *ngIf="filmOnAir == true">
                <img src="https://fr.web.img3.acsta.net/r_654_368/newsv7/21/04/29/14/22/0010719.jpg">
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h3 [ngStyle]="{color: changeColor()}">Film : {{ filmName }}</h3>
                </div>
                <div class="col-12 col-sm-6">
                    Date: {{ filmReleaseDate }} // Durée : {{ filmTime }}min // Pays: {{filmCountry}}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    Producteur: {{filmProductor}} <br> Realisateur: {{filmRealisator}}
                </div>
                <div class="col-12 col-sm-6">
                    Scénariste: {{filmScenario}} <br> Musique: {{filmMusic}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    Résumé: <br>
                    <div class="text-justify">
                        {{filmSynopsis}}
                    </div>
                </div>
            </div>
            <button class="btn btn-outline-success" (click)="onWatchFilm()">Regarder</button> <br>
            <button class="btn btn-outline-info" (click)="onSwitch()">Switch</button>
        </div>
        <div class="col-2">
            <a [routerLink]="['/modif', id]" class="btn btn-warning">M</a>
            <button class="btn btn-danger" (click)="suppr()">X</button>
        </div>
    </div>
</li>