<ul class="list-group" *ngIf="films">
  <app-film *ngFor="let film of films; let i = index"
            [filmName]="film.title"
            [filmOnAir]="film.onAir"
            [filmAffiche]="film.pictureLink"
            [filmCountry]="film.country"
            [filmProductor]="film.productor"
            [filmRealisator]="film.realisator"
            [filmReleaseDate]="film.releaseDate"
            [filmScenario]="film.scenario"
            [filmSynopsis]="film.synopsis"
            [filmTime]="film.time"
            [filmMusic]="film.music"
            [id]="film.id"></app-film>
</ul>


