<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Titre du jeu</label><br>
            <input type="text" class="form-control" [(ngModel)]="kirby.nom_jeu" Required>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Developper</label><br>
            <input type="text" class="form-control" [(ngModel)]="kirby.developper" Required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Producteur</label><br>
            <input type="text" class="form-control" [(ngModel)]="kirby.producter" Required>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Année de sortie</label><br>
            <input type="text" class="form-control" [(ngModel)]="kirby.year" Required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="form-group">
            <label>Lien de l'image du jeu</label> <br>
            <input type="text" class="form-control" [(ngModel)]="kirby.imgLink" Required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label>Résumé</label><br>
            <textarea name="synopsis" cols="30" rows="10" class="form-control" [(ngModel)]="kirby.resume"></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="submit">
            <button class="btn btn-outline-success" (click)="add()">Envoyer</button>
        </div>
    </div>
</div>